aplicacoes/spring-social-showcase-sec-xml/target
aplicacoes/spring-social-showcase-sec-xml/.metadata
aplicacoes/spring-social-showcase-sec-xml/.settings
aplicacoes/spring-social-showcase-sec-xml/.classpath
aplicacoes/spring-social-showcase-sec-xml/.project
*.project
*.class
*.jar
*.war
*.ear
*.log
*.tmp
*~
.DS_Store
