aplicacoes/ger_backlog/target
aplicacoes/ger_backlog/.metadata
aplicacoes/ger_backlog/.settings
aplicacoes/ger_backlog/.classpath
aplicacoes/ger_backlog/.project
*.project
*.class
*.jar
*.war
*.ear
*.log
*.tmp
*~
.DS_Store
